/* Colors */
/*
Blue rgb(112,237,249)
White rgb(255,255,255)
Black rgb(34,34,34)
Yellow rgb(238,177,62)
Red rgb(221,73,87)
LightGrey rgb(242,242,242)
DarkGrey rgb(227,226,226)
 */

/* Default */
* {
  /* border: solid blue 1px; */
}

html {
  /* height: 100%; */
  /* width: 100%; */
  font-family: 'Press Start 2P', cursive;
  /* color: rgb(214, 214, 214); */
}

body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  text-align: center;
}

main {
  grid-column: 2;
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 100%;
  background-color: rgb(242,242,242);
}

header {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-game {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.player-side {
  grid-column: 1;
  background-color: rgb(109,109,113);
}

.change-game-button {
  border-radius: 8%;
  border: 1px solid grey;
  font-family: 'Press Start 2P', cursive;
  font-size: 80%;
  background-color: rgb(143, 193, 207);
  margin: 11%;
  padding: 2%;
  cursor: pointer;
}

.change-game-button:hover {
  background-color: rgb(190, 253, 255);
}

.computer-side {
  grid-column: 3;
  background-color: rgb(109,109,113);
}

.game-type {
  border: blue 1px solid;
  width: 45%;
  font-family: 'Press Start 2P', cursive;
}

.game-type:hover {
  background-color: rgb(221,73,87);
  cursor: pointer;
}

.classic {
  background-color: rgb(238,177,62);
}

.variation {
  background-color: rgb(112,237,249);
}

.player-side,
.computer-side {
  padding-top: 5%;
}

.emoji {
  font-size: 166%;
}

.classic-mode,
.classic-mode-results {
  display: flex;
  justify-content: space-around;
  grid-column: 1/2;
  /* align-items: center; */
  grid-row: 2;
  flex-wrap: wrap;
}

.player-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
}

figure {
  width: 30%;
  height: 45%;
  margin: 0;
  font-size:100%;
  /* padding: 2%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-choice figure {
  width: 65%;
  height: 80%;
}

img {
  width: 90%;
  height: 90%;
  border-radius: 5%;
}

img:hover {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

figcaption {
  padding-top: 5%;
  cursor: pointer;
}

 /* Show/hide */
 .hidden {
   display: none;
 }
