/* Default */
* {
  /* border: solid blue 1px; */
}

html {
  /* height: 100%; */
  /* width: 100%; */
  font-family: 'Press Start 2P', cursive;
}

body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  text-align: center;
}

main {
  grid-column: 2;
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 100%;
  background-color: pink;
}

header {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-game {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-type:hover {
  background-color: red;
}

.player-side {
  grid-column: 1;
  background-color: lightblue;
}

.computer-side {
  grid-column: 3;
  background-color: lightblue;
}

.game-type {
  border: blue 1px solid;
  background-color: rgb(255,184,255);
  width: 45%;
  font-family: 'Press Start 2P', cursive;
}

.player-side,
.computer-side {
  padding-top: 5%;
}

.emoji {
  font-size: 166%;
}

.classic-mode {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 2;
}

figure {
  width: 30%;
  height: 45%;
  margin: 0;
  font-size:100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 90%;
  height: 90%;
  border-radius: 5%;
}

img:hover {
  width: 100%;
  height: 100%;
}

figcaption {
  padding-top: 5%;
}

 /* Show/hide */
 .hidden {
   display: none;
 }
