/* Colors */
/*
Blue rgb(112,237,249)
White rgb(255,255,255)
Black rgb(34,34,34)
Yellow rgb(238,177,62)
Red rgb(221,73,87)
LightGrey rgb(242,242,242)
DarkGrey rgb(227,226,226)
 */

/* Default */
* {
  /* border: solid blue 1px; */
}

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

html {
  /* height: 100%; */
  /* width: 100%; */
  font-family: 'Press Start 2P', cursive;
  /* color: rgb(214, 214, 214); */
}

body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  text-align: center;
}

main {
  grid-column: 2;
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-columns: 100%;
  background-color: rgb(192,192,192);
  overflow-y: hidden;
  /* background-color: rgb(34,34,34); */
}

header {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-game {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.player-side {
  grid-column: 1;
  background-color: rgb(109,109,113);
}

.change-game-button {
  border: 4px solid rgb(34,34,34);
  font-family: 'Press Start 2P', cursive;
  font-size: 80%;
  background-color: rgb(112, 237, 249);
  margin: 11%;
  padding: 2%;
  cursor: pointer;
}

.change-game-button:hover {
  background-color: rgb(190, 253, 255);
}

.computer-side {
  grid-column: 3;
  background-color: rgb(109,109,113);
  /* background-color: rgb(34,34,34); */
}

.game-type {
  border: 4px solid rgb(34,34,34);
  width: 45%;
  font-family: 'Press Start 2P', cursive;
}

.game-type:hover {
  background-color: rgb(221,73,87);
  cursor: pointer;
}

.classic {
  background-color: rgb(238,177,62);
}

.variation {
  background-color: rgb(112,237,249);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width:90%;
  background-color: rgb(221,73,87);
  border: 4px solid rgb(34,34,34);
}

.title > * {
  margin: 0;
  font-size: 120%;
}

.title > h1 {
  font-size: 160%;
}

.player-side,
.computer-side {
  padding-top: 5%;
}

.emoji {
  font-size: 166%;
}

.classic-mode,
.classic-mode-results {
  display: flex;
  justify-content: space-around;
  grid-column: 1/2;
  /* align-items: center; */
  grid-row: 2;
  flex-wrap: wrap;
}

.player-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
}

figure {
  width: 30%;
  height: 45%;
  margin: 0;
  font-size:100%;
  /* padding: 2%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-choice figure {
  width: 65%;
  height: 80%;
}

img {
  width: 90%;
  height: 84%;
  border-radius: 5%;
  box-shadow: 5px 10px 18px #26222D;
}

div {
  border: 4px solid rgb(34,34,34);
  margin: 6%;
  height: 30%;
  width: 80%;
}

div > * {
  /* margin: 5%; */
}

div > h2 {
  font-size: 140%;
}

/* fiv > h3 {
  font-size:
} */

img:hover {
  width: 90%;
  height: 90%;
  cursor: pointer;
}

figcaption {
  padding-top: 10%;
  cursor: pointer;
}

.computer-info {
  background-color: rgb(112,237,249);
}

.human-info {
  background-color: rgb(238,177,62);
}

 /* Show/hide */
 .hidden {
   display: none;
 }
