/* General */
html {
	font-family: 'Press Start 2P', cursive;
}

body {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	height: 100vh;
	margin: 0;
	text-align: center;
	width: 100vw;
}

/* Main and Title */
main {
	background-color: rgb(192,192,192);
	display: grid;
	grid-column: 2;
	grid-template-columns: 100%;
	grid-template-rows: 25% 75%;
	overflow-y: hidden;
}

header {
	align-items: center;
	display: flex;
	grid-row: 1;
	justify-content: center;
}

.title {
	align-items: center;
	background-color: rgb(221,73,87);
	border: 4px solid rgb(34,34,34);
	display: flex;
	flex-direction: column;
	height: 50%;
	justify-content: space-evenly;
	width: 90%;
}

.title > * {
	font-size: 120%;
	margin: 0;
}

.title > h1 {
	font-size: 160%;
}

/* Game Selection */
.choose-game {
	align-items: center;
	display: flex;
	flex-direction: column;
	grid-row: 2;
	justify-content: space-around;
}

.game-type {
	border: 4px solid rgb(34,34,34);
	font-family: 'Press Start 2P', cursive;
	line-height: 1.2;
	padding-bottom: 2%;
	padding-top: 2%;
	text-align: left;
	width: 60%;
}

.game-type > h3 {
	text-align: center;
}

li {
	font-size: 93%;
	margin-top: 2%;
}

.game-type:hover {
	background-color: rgb(221,73,87);
	cursor: pointer;
}

.classic {
	background-color: rgb(238,177,62);
}

.variation {
	background-color: rgb(112,237,249);
}

/* Buttons */
.change-game-button {
	background-color: rgb(112, 237, 249);
	border: 4px solid rgb(34,34,34);
	cursor: pointer;
	font-family: 'Press Start 2P', cursive;
	font-size: 80%;
	margin: 11%;
	padding: 4%;
}

.change-game-button:hover {
	background-color: rgb(190, 253, 255);
}

/* Side Bars */
.player-side {
	background-color: rgb(109,109,113);
	grid-column: 1;
}

.computer-side {
	background-color: rgb(109,109,113);
	grid-column: 3;
}

.player-side,
.computer-side {
	align-items: center;
	background-image: url("./assets/turingLogo.png");
	background-position: 50% 90%;
	background-repeat: no-repeat;
	background-size: 55% 20%;
	display: flex;
	flex-direction: column;
	padding-top: 5%;
}

div {
	border: 4px solid rgb(34,34,34);
	height: 30%;
	width: 80%;
	overflow-x: hidden;
}

div > h2 {
	font-size: 120%;
}

.computer-info {
	background-color: rgb(112,237,249);
}

.human-info {
	background-color: rgb(238,177,62);
}

.emoji {
	font-size: 166%;
}

/* Game board */
.game-board,
.game-board-results {
	display: flex;
	flex-wrap: wrap;
	grid-column: 1/2;
	grid-row: 2;
	justify-content: space-around;
}

.player-choice {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 50%;
	justify-content: center;
	width: 50%;
}

.player-choice figure {
	height: 80%;
	width: 65%;
}

figure {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 100%;
	height: 45%;
	justify-content: center;
	margin: 0;
	width: 30%;
}

figcaption {
	cursor: pointer;
	padding-top: 10%;
}

.fighter {
	border-radius: 5%;
	box-shadow: 5px 10px 18px #26222D;
	height: 84%;
	width: 90%;
}

.game-board .fighter:hover {
	cursor: pointer;
	height: 90%;
	width: 100%;
	animation: shake 0.s;
	animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(1deg); }
  /* 10% { transform: translate(-2px, -2px) rotate(-1deg); } */
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  /* 30% { transform: translate(3px, 2px) rotate(0deg); } */
  40% { transform: translate(2px, -2px) rotate(1deg); }
  /* 50% { transform: translate(-2px, 2px) rotate(-1deg); } */
  60% { transform: translate(-3px, 2px) rotate(0deg); }
  70% { transform: translate(3px, 2px) rotate(-1deg); }
  /* 80% { transform: translate(-2px, -2px) rotate(1deg); } */
  90% { transform: translate(2px, 2px) rotate(0deg); }
  100% { transform: translate(2px, -2px) rotate(-1deg); }
}

.player-choice .fighter {
	height: 88%;
	width: 76%;
}

/* Display */
.hidden {
	display: none;
}
