/* Default */
* {
  /* border: solid blue 1px; */
}

html {
  /* height: 100%; */
  /* width: 100%; */
}

body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  text-align: center;
}

main {
  grid: 2;
  background-color: pink;
}

.player-side {
  grid: 1;
  background-color: lightblue;
}

.computer-side {
  grid: 3;
  background-color: lightblue;
}
