/* Default */
html {
  font-family: 'Press Start 2P', cursive;
}

body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  text-align: center;
}

main {
  grid-column: 2;
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-columns: 100%;
  background-color: rgb(192,192,192);
  overflow-y: hidden;
}

header {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-game {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.player-side {
  grid-column: 1;
  background-color: rgb(109,109,113);
}

.change-game-button {
  border: 4px solid rgb(34,34,34);
  font-family: 'Press Start 2P', cursive;
  font-size: 80%;
  background-color: rgb(112, 237, 249);
  margin: 11%;
  padding: 2%;
  cursor: pointer;
}

.change-game-button:hover {
  background-color: rgb(190, 253, 255);
}

.computer-side {
  grid-column: 3;
  background-color: rgb(109,109,113);
}

.game-type {
  border: 4px solid rgb(34,34,34);
  width: 60%;
  font-family: 'Press Start 2P', cursive;
  text-align: left;
  line-height: 1.2;
  padding-top: 2%;
  padding-bottom: 2%;
}

.game-type > h3 {
  text-align: center;
}

.game-type > p {
  margin: 2%;
}

li {
  font-size: 93%;
  margin-top: 2%;
}

.game-type:hover {
  background-color: rgb(221,73,87);
  cursor: pointer;
}

.classic {
  background-color: rgb(238,177,62);
}

.variation {
  background-color: rgb(112,237,249);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width:90%;
  background-color: rgb(221,73,87);
  border: 4px solid rgb(34,34,34);
}

.title > * {
  margin: 0;
  font-size: 120%;
}

.title > h1 {
  font-size: 160%;
}

.player-side,
.computer-side {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji {
  font-size: 166%;
}

.game-board,
.game-board-results {
  display: flex;
  justify-content: space-around;
  grid-column: 1/2;
  grid-row: 2;
  flex-wrap: wrap;
}

.player-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
}

figure {
  width: 30%;
  height: 45%;
  margin: 0;
  font-size:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-choice figure {
  width: 65%;
  height: 80%;
}

img {
  width: 90%;
  height: 84%;
  border-radius: 5%;
  box-shadow: 5px 10px 18px #26222D;
}

div {
  border: 4px solid rgb(34,34,34);
  height: 30%;
  width: 80%;
}

div > h2 {
  font-size: 120%;
}

img:hover {
  width: 90%;
  height: 90%;
  cursor: pointer;
}

figcaption {
  padding-top: 10%;
  cursor: pointer;
}

.computer-info {
  background-color: rgb(112,237,249);
}

.human-info {
  background-color: rgb(238,177,62);
}

 /* Show/hide */
 .hidden {
   display: none;
 }
